[2012-04-12 17:30] brody2consult opened #4 "Automatic testing"
There is some basic testing with the Lawnchair suite but it is still minimal. It would be nice to verify the working of some basic examples, handling of NULL values, and any future enhancements. I like QUnit, and they pointed out some other nice frameworks such as SpecIt (http://github.com/joshuaclayton/specit).

[2012-04-12 17:39] brody2consult opened #5 "Batch optimizations for iOS version"
@marcucio had submitted some improvements for large transaction batches on the Android version, however this has not been done for the iOS version. It would be nice to keep the capabilities more uniform between the 2 versions.

[2012-04-12 17:42] brody2consult opened #6 "Uniform plugin Javascript"
Cordova 1.6 has made the same Javascript (cordova-xxx.js) for Android and iOS. It would be nice to keep the same Javascript for the SQLitePlugin also for Android and iOS. This fix is depending on [#5](https://github.com/chbrody/Cordova-SQLitePlugin/issues/5).

[2012-04-12 17:44] brody2consult opened #7 "Uniform path API"
The procedure to locate the working documents directory is different right now between Android and iOS, and it is up to the developer to do the hacks to make it work. Some people have been asking about reading from the www DB directory, and there is interest in reading from the SD card on Android. It would be nice to come up with a uniform API to specify from which path to read and/or write the sq

[2012-04-12 17:52] brody2consult opened #8 "Better database option interface"
Currently there is a function call sqlitePlugin.openDatabase() that is emulating the HTML5 window.openDatabase() the best it can. Unfortunately this entails a some hack like ignoring some of the HTML5 SQL options. There is interest in adding some more options such as changing the database path and now encryption.

My idea is to adapt sqlitePlugin.openDatabase() to accept the list of options in a s

[2012-04-12 17:57] brody2consult opened #9 "db.executeSql() is deprecated and should be removed from iOS version"
The original iOS version had supported running executeSql() directly on a database object. This is a deviation from the HTML5 SQL API and is not supported in the Android version. The function executeSql() is hereby deprecated and will be removed.

[2012-04-12 18:00] brody2consult commented on #5
Sorry, comment from @marcucio: iOS already handles batches. iOS is actually faster than Android even with my changes but I don't think my version can be optimized any further.

[2012-04-12 18:00] #5 closed, assigned to nobody

[2012-04-12 18:02] brody2consult commented on #6
Comment from @marcucio on #5: iOS already handles batches. iOS is actually faster than Android even with my changes but I don't think my version can be optimized any further.

It will be a challenge to bring the plugin Javascript into sync if the iOS and Android do not handle batches the same way. Hopefully we can get the differences to a minimum on the Javascript side.

[2012-04-12 18:04] brody2consult commented on #6
Also, I leave it up to discussion whether to continue based on CoffeeScript or Javascript source. The CoffeeScript version is easier to author and adapt to major changes but it becomes a challenge for maintenance in the user community.

[2012-04-12 18:14] marcucio commented on #6
i'm a purist, I vote to have just a JS version. More people can contribute to the js version than can the .coffee version.

[2012-04-12 18:18] brody2consult commented on #4
http://37signals.com/svn/posts/3159-testing-like-the-tsa

[2012-04-13 13:57] marcucio commented on #6
Chris, I was thinking of deleting my version of the plugin and just branching off of yours. Let me know if you think there would be a problem with me doing this (you seems to be more versed in github than I)

Your code seems the most up to date the only thing that I think should be changed is the name of Cordova-iOS should probably just be iOS (but I can get over this :)

On Apr 12, 2012, at 2:04

[2012-04-13 14:49] brody2consult commented on #6
Mike that sounds like a good idea, I did fork off your repository but did nothing with it. I have been able to merge the branches together by some magic. I think you especially will have to delete your old fork of Phonegap-SQLitePlugin if you want to fork off my repository. And I did go ahead to rename Cordova-iOS to iOS.

[2012-04-13 14:58] brody2consult commented on #6
Going forward, I still want to keep the CoffeeScript to make it easier for myself until we really get this resolved. I will make the JS version leading but you may see some massive changes due to my own regeneration from CoffeeScript. I want to simplify the object prototyping and I think it will be easier for me to do this in CoffeeScript.

[2012-04-13 16:41] marcucio commented on #6
FYI, I upgraded to cordova 1.6 because of the localstorage bug fix, I won't be testing or using the old version any more.

On Apr 13, 2012, at 10:58 AM, Chris Brody wrote:

[2012-04-13 22:18] brody2consult commented on #6
Very smart, I just wrote a shim in case people have old PhoneGap plugins: https://github.com/chbrody/Cordova-PGPluginShim

I think I will go ahead, delete the old PG version and start cleaning up the Javascript.

[2012-04-18 12:09] brody2consult opened #10 "Open existing database from other sources"
It is easy for an application to open and read its own database files using the plugin interface. However quite a few people want to open a database file that was generated from another source. It would be nice to come up with an API, preferably a portable API, that can be used to open a specific database file path.

[2012-04-19 14:09] brody2consult commented on #10
From: http://gauravstomar.blogspot.ca/2011/08/prepopulate-sqlite-in-phonegap.html see https://groups.google.com/forum/?fromgroups#!topic/phonegap/dSnm2dTzPi4

document how to work with pre-populated SQLite databases

[2012-04-20 12:39] brody2consult opened #11 "WP7 version"
Apparently someone wanted Web SQL(ite) support on WP7: https://groups.google.com/forum/?fromgroups#!topic/phonegap/7xfrDzi5C_U

There is a C#-SQLite version: ~~http://wp7sqlite.codeplex.com/ [apparently obsolete] based on~~ http://code.google.com/p/csharp-sqlite/

~~When I have a chance, I want to run Windows in a VM and see how these are working. It should not be too bad to make an adaptation of

[2012-04-20 17:51] marcucio commented on #11
just a warning, I don't think the WP7 emulator will work if you run windows in a VM.

I was also going to look into WP7 after my current release (it might be a while)

[2012-04-20 17:57] brody2consult commented on #11
On Fri, Apr 20, 2012 at 7:51 PM, Mike
reply@reply.github.com
wrote:

Can I leave this one for you? No rush on my part.

[2012-04-20 18:13] marcucio commented on #11
I'll post back here after I get a chance to look into it

[2012-04-21 16:16] brody2consult opened #12 "Nested transaction sample from Usage does not work for iOS"
The sample from the Usage section is an excellent test of nested transactions. @marcucio did some good work to make this sample work with batching for the Android version. I also did a quick test to verify that this sample is also working with the real HTML5 SQL API in Safari (with sqlitePlugin.openDatabase replaced by window.openDatabase). However, the nested SQL command does not seem to be execu

[2012-04-22 04:45] brody2consult commented on #12
As it turns out, you have to turn off the batching optimization in the Android version of SQLitePlugin.js to get the nested transaction sample working on the Android version. A workaround is to simply create a new transaction inside the executeSql callback function to execute a nested SQL statement. This is now clearly documented in README.md so this issue is changed from a bug to an enhancement,

[2012-04-24 05:06] brody2consult commented on #10
PhoneGap thread: https://groups.google.com/forum/?fromgroups#!topic/phonegap/XlenKNxmoqE

From Avinoam: http://androidblogger.blogspot.com/2009/05/how-to-ship-application-with-pre-baked.html http://www.reigndesign.com/blog/using-your-own-sqlite-database-in-android-applications/

It will need automatic testing to verify that this is working right, see #4

[2012-04-27 01:38] ns-1m opened #13 "SQL.js - a port of SQLite to JavaScript"
You want more SQL in javascript, then probably you can hack this,

https://github.com/kripken/sql.js

to enchance the plugin.

What are people think about SQL.js

http://badassjs.com/post/18857332551/sql-js-sqlite-compiled-to-javascript-via-emscripten?d9fdf148

[2012-04-27 03:37] ns-1m commented on #10
Does this apply to Cordova-SQLitePlugin?

From: http://gauravstomar.blogspot.ca/2011/08/prepopulate-sqlite-in-phonegap.html

Why you need 2 db instead of one?

Probably you can create an example how to do this properly using Cordova-SQLitePlugin?

Why do we need Cordova-SQLitePlugin for when you can create using this instruction (below)?

From: http://gauravstomar.blogspot.ca/2011/08/prepopulate-s

[2012-04-27 08:41] brody2consult commented on #10
On Fri, Apr 27, 2012 at 5:37 AM, Noli Sicad
reply@reply.github.com
wrote:

- reliability: for iOS, Cordova is synchronizing the database when it
  receives a signal that the application is being shut down. But if the
  application or even the device crashes, the application would stop
  without receiving the signal and the data will not be synchronized.
  For Android, we don't know what the built-

[2012-04-27 08:52] brody2consult commented on #13
I do not see how SQL.js will work together with this plugin. SQL.js manipulates the data in memory and needs a driver to store its binary data on the file system. In addition, the penalty of manipulating the data in Javascript becomes worse on iOS since it does not benefit from the V8 JIT. Please let me know if there is something I have not thought of, otherwise I want to close this issue.

[2012-04-27 09:36] brody2consult opened #14 "NoSQL version with a simple API"
There is a big trend towards using NoSQL datastorage, for example IndexedDB is accepted by the W3C over WebSQL and I expect many developers will favor NoSQL in the future. IndexedDB does seem to have a pretty big API. From https://plus.google.com/113027790166600260439/posts/PHqKjkcNbLU a candidate for the backend is leveldb.

In general, I like the Lawnchair API very much for its simplicity and ea

[2012-04-30 15:36] maarcosd opened #15 "Attempting to call Phonegap.exec() before 'ondeviceready'"
Hello guys,

I was using thw HTML5 SQL API and it was working fine. Now I decided to start using this plugin, and I got a problem.
When I make reference SQLitePlugin.js on my index.html I still dont get any alert, but when I change the "window.openDatabase" to "window.sqlitePlugin.openDatabase" (as in the example), I get the alert "ERROR: Attempting to call Phonegap.exe() before 'deviceready'. Ign

[2012-05-01 00:58] mineshaftgap opened #16 "Don't understand reason for code in SQLitePlugin.js"
[code]

Since these variable are local, none of them are passed on and most are set to null if they equal null, this makes no sense to me, is this possibly left from some legacy reason?  It seems that it should be simply:

[code]

[2012-05-01 09:05] brody2consult commented on #15
Many of the Cordova/PhoneGap samples are showing us to wait for the deviceready event, I believe this is the indication that all of the Cordova/PhoneGap facilities are initialized and ready to work with the device. It is good practice not to do anything that depends on persistant storage until we receive this deviceready event.

It might be possible to start working to open a database before recei

[2012-05-01 09:10] brody2consult commented on #16
Those lines can go away, they were generated when compiling from CoffeeScript. I will take them out sometime later.

[2012-05-01 09:12] maarcosd commented on #15
The problem is that I call the openDatabase function that is called on 'ondeviceready'. I tried putting a setTimeout of 10 seconds after deviceready and I still get this message, that's what is not making sense, because everything works fine until I call "sqlitePlugin.openDatabase" instead of "openDatabase"

[2012-05-01 09:19] brody2consult commented on #15
Can you post a sample?

[2012-05-01 09:30] maarcosd commented on #15
I don't know if it helps, but I am testing on a Galaxy SII running Android 4.0.4.

[2012-05-01 09:43] brody2consult commented on #15
Thanks for the information. I do not have much time to look at this today, maybe later tonight. I would like to make a suggestion that you go through the sample and make it as simple as possible while demonstrating the issue.

[2012-05-01 09:52] maarcosd commented on #15
Cool, I deleted the other code to make the thread cleaner. You can see below a simple test I have built that still gets the message:

[code]

[2012-05-01 15:31] mineshaftgap commented on #16
Ah, now I get it!

[2012-05-01 20:52] brody2consult commented on #15
@marcosd I do not seem to reproduce your problem. I have seen some messages that there could be an issue between Cordova and JQM 1.1.0 on the deviceready event but it does not seem to affect me in my environment. I have tried with API level 16 (4.0.x) on 4.0.3 simulator. I will put my test in the following comment.

[2012-05-01 20:54] brody2consult commented on #15
@marcosd here is the test I am doing and it is working. First my index.html:

[code]

and you have to use the following patch to SQLitePlugin.js to make the test work:

[code]

I hope you can try this and let me know whether or not it is working for you.

[2012-05-01 21:33] brody2consult commented on #15
Also I am using jquery 1.7.2, please can you test with that version?

[2012-05-02 11:16] maarcosd commented on #15
I tried and it didn't work. I changed for jQuery 1.7.2 (I was using 1.6.1), changed the plugin file and tried the exact same code as yours, but it still does not work. Now I have no alerts but the queries are not executed, at least they do not seem to be. Here is what is being shown on the LogCat:

[code]

I don't know what this error in the end means, but it also appears after the log of the func

[2012-05-02 11:30] brody2consult commented on #15
On Wed, May 2, 2012 at 1:16 PM, marcosd
reply@reply.github.com
wrote:

The test I gave you does not work unless you patch SQLitePlugin.js
like I gave you. There is a test on the README that does not need the
patch to SQLitePlugin.js. I am happy to make a simpler test for you
sometime during the weekend.

Chris

[2012-05-02 12:51] maarcosd commented on #15
No problem, do it when it is convenient for you. I tried the example, I tried patching, not patching, and nothing worked. The message "Class not found" persists.

Thanks

[2012-05-03 09:28] maarcosd commented on #15
You don't need to worry about this any more, I found the solution. I did not know that I need to change my /res/xml/plugins.xml to work. I inserted the line below and now it is working fine.

[code]

Thanks a lot for the attention :)

[2012-05-03 09:28] #15 closed, assigned to nobody

[2012-05-03 10:42] brody2consult commented on #15
@marcosd thank you for letting me know, that is actually a common gotcha:-)

On Thu, May 3, 2012 at 11:28 AM, marcosd
reply@reply.github.com
wrote:

[2012-05-03 15:24] maarcosd opened #18 "insertId broken on Android (INSERT statement)"
UPDATE #2 5-May by @chbrody, title changed again:

It is entirely possible to get the proper insertId in response to the INSERT statement by using executeInsert() on a compiled statement. However, to get the number of rows affected requires executeUpdateDelete(), which is only supported for Android API 11+, and I had trouble getting this to work on a test version so I would like to defer the fix f

[2012-05-03 15:46] brody2consult commented on #18
I will assume that this is also the Android version. AFAIK you should
be able to get a valid value for res.insertId in the result from an
INSERT SQL statement. I took a quick look at the CoffeeScript version
and this should be the case. So far, this looks like a bug but I
cannot be sure without seeing the entire program.

I will try to make a simple test suite this weekend (see #4) so we can
get t

[2012-05-04 06:30] brody2consult opened #19 "How to handle large batches without blocking the UI"
I saw some reports that the UI will be blocked when large batches of data are being loaded into the database. This problem cannot be solved properly without introducing worker threads. The workaround is to setup a timer mechanism that saves the data in small pieces and reports by callback when it is done.

A solution by using either a timer mechanism or worker threads can be done equally well in t

[2012-05-04 08:09] brody2consult commented on #19
For batches of smaller records it is possible to solve this issue with a timer. If there are really large record sizes then the work would have to be done in another thread. I do not promise when or even if I will make the solution.

[2012-05-04 11:57] maarcosd commented on #18
On the file `SQLitePlugin.java`, at the line 188 (where the query is executed) there is a cursor that, on the following line, is passed to the function `processResults`, which reads all the lines of the cursor. I don't develop in Java/Android, but as I could see, the cursor comes empty when a INSERT query is executed, so the function `processResults` returns nothing (it returns a JSON object equal

[2012-05-04 12:11] brody2consult commented on #18
hi @marcosd first the nested transaction is really tricky. I have documented it in the README but maybe I should try to make it a little more clear. I suspect you are right that the Java code is not returning the ID properly, I am happy if you post a fix or a patch. I plan to spend some time this weekend to look at this problem and add some testing.

[2012-05-05 16:14] brody2consult commented on #4
I have added simple but complete testing using QUnit in `test-www`, and it demonstrates something that is broken on the Android version.

[2012-05-05 18:32] brody2consult commented on #13
SQL.js is not relevant to this plugin, issue closed.

[2012-05-05 18:32] #13 closed, assigned to nobody

[2012-05-05 18:34] brody2consult commented on #16
Cleanup remove the extra lines from CoffeeScript versions.

[2012-05-05 18:36] brody2consult commented on #6
The internal Cordova/PhoneGap interface between the Android and iOS versions are so different that I do not expect to fix this one.

[2012-05-05 18:41] brody2consult commented on #14
The sqlite database provides an excellent, smooth way to store and manage data in an almost-arbitrary format, though forced to stay in table format, and works quite well with JSON document data. The Lawnchair library provides a simple, easy-to-use NoSQL API that works quite well with sqlite and other backends. To make another NoSQL version based on IndexedDB is way beyond the scope of this project

[2012-05-05 18:41] #14 closed, assigned to nobody

[2012-05-05 19:05] brody2consult opened #20 "Specify and test level of W3 compliance"
People have already identified issues where this SQLitePlugin was deviating from the W3 SQL API. I believe this plugin should be usable as a drop-in replacement for the version that is built-in for both the Android and iOS, providing some benefits such as predetermined location of database file, no synchronization issues, improvements for batch processing, and extensibility.

Someone pointed out a

[2012-05-05 19:10] brody2consult opened #21 "Identify, list, and test with HTML5 SQL libraries"
This plugin is already working well with Lawnchair. I just found http://html5sql.com/ which provides a simpler API to process batches of SQL statements. It would be interesting to list any other HTML5 SQL libraries that may be useful and test with the SQLitePlugin.

[2012-05-05 21:10] brody2consult opened #22 "rowsAffected not working for Android"
From issue #4: automatic testing it was discovered that the rowsAffected field in the response is not working for Android. This is related to #18: insertId broken for Android. Issue #18 should be pretty easy to fix by using the executeInsert() member function on a compiled statement. It should also be possible to get the number of rows affected for UPDATE or DELETE by using the executeUpdateDelete

[2012-05-05 21:23] brody2consult commented on #4
The testing so far now reproduces #18: insertId broken on Android, affecting the INSERT statement, and #22: rowsAffected not working for Android, which affects INSERT, UPDATE, and DELETE. These tests are working perfectly on iOS. These tests are also working perfectly on the desktop browsers Chrome and Safari with the following patch:

[code]

So the existing tests for insertId and rowsAffected se

[2012-05-05 21:23] #4 closed, assigned to brody2consult

[2012-05-05 22:30] brody2consult commented on #18
OK I have done some reading and it looks like the compiled INSERT statement must be binded to each parameter in the params array, if present, before it can executed with expectation of meaningful results. It will take me some time to do this right so I leave this task for another day, probably sometime next weekend.

[2012-05-05 22:34] brody2consult commented on #22
There are two major challenges:
- Just like the INSERT statement from #18, the compiled UPDATE or DELETE statement must be binded to each parameter from the input params before it can be executed with expectation of meaningful results
- This solution will only work for API level 11+. For lower-level API versions, I do not expect to fix this problem.

I want to fix #18 first, probably sometime next

[2012-05-05 22:54] brody2consult opened #23 "Interface over Android NDK"
In research for bugs #18 and #22, I discovered another idea to interface with sqlite C library directly using the Android NDK, bypassing the Java SQL classes and skipping the Cursor stuff: http://www.roman10.net/how-to-compile-sqlite-for-android-using-ndk/

The immediate appeal would be to make the W3 SQL API functionality working directly with sqlite, returning the results for insert id and numbe

[2012-05-05 23:02] brody2consult opened #24 "sqlite replacement for iOS"
This should be simple: just add your own version of the Amalgamation C file (sqlite3.c) instead of linking to libsqlite3.dylib. There may be some issues for investigation, such as correct default path, using a prefix to avoid function name collision, etc. but otherwise this issue should be about testing and documentation.

The real benefit would be a smooth transition to enhancements such as SQLCi

[2012-05-08 16:34] davidec opened #25 "problem with android"
Hi, I try this plugin with my talbe android 3.2.1
I run the www-test under my tablet with a phonegap project (ver.1.7), the test star but it stop al first step
"1. Running db transaction test".... nothing happen then this step
I try to write some test code but It 's seem don't work

Davide C

[2012-05-08 17:23] brody2consult commented on #25
Please check that you have registered the plugin properly in
Android/res/xml/plugins.xml

On Tue, May 8, 2012 at 6:34 PM, davidec
reply@reply.github.com
wrote:

[2012-06-16 09:37] yul opened #26 "'Undefined is not a function' error if error callback for transaction is not supplied"
I know that in the readme all transactions have error callbacks, but I didn't need it and didn't want to stream messages to console (they say Apple don't like console messages), so I just skipped this parameter, which have led to this error message. I think it worth mentioning in readme, or handle missing callback in code.

[2012-06-17 03:51] steveoh opened #28 "setPath is not the correct location always"
We are trying to use a FileTransfer to download a sqlite database and use this plugin to read it.

I was able to loop through everything in data/data/package and it was not placed there.

Things downloaded with FileTransfer are placed in in mnt/sdcard which is accessible from Environment.getExternalStorageDirectory().getAbsolutePath();

[2012-06-17 05:29] steveoh commented on #28
https://github.com/steveoh/Cordova-SQLitePlugin/commit/3a414057f186ccfcede2e120e15977739e7db556

[2012-06-17 19:45] brody2consult commented on #28
Can you put that in a pull request?

On Sun, Jun 17, 2012 at 5:51 AM, steve
reply@reply.github.com
wrote:

[2012-06-18 00:52] steveoh commented on #28
I think i did. its in the link above.

On 6/17/2012 1:45 PM, Chris Brody wrote:

[2012-06-22 15:10] beauohara opened #29 "Android 2.3.3"
First off Thanks for this plugin.  Working great on everything but Android 2.3.3

When I set the target in eclipse to 2.3.3  I get errors around this code and the method getType():

[code]

It seems there is a comment about how to work around, but I am not exactly sure what to do.  Should I save everything using  row.put(key, cur.getString(i));

[2012-06-22 15:12] beauohara commented on #29
It seems happy when I comment this out and just use

[code]

But I want to be sure I am not making an error.  Did sqlite cursor on Android before 11 not understand field types?

[2012-06-22 22:57] juniovitorino opened #30 "executeSql no scope"
Hi i'm facing a scope problem and i'd like ask help to figure how fix that, is happening in the code below:

[code]

this.items is not filled with the content inside the loop, it loses the scope.

[2012-06-23 19:39] juniovitorino commented on #30
Nobody had this problem before?

[2012-06-26 06:53] csperle commented on #29
I too, would like to use the plugin for Android 2.3. Is this possible?

[2012-06-26 12:31] beauohara commented on #29
I can't get it to work on 2.3.3.  3.1 and 4 seem to work ok in the simulator.

[2012-06-27 16:41] philiprjarnold commented on #29
I'm going to try to implement this myself, but maybe with a "hack" to get around the problem in 2.3.3 and below

the problem is that in Android 10 and below is that each field is just a field, with no differentiation on the actual data type, and 11 introduced getType()

I have a feeling that for 2.2 & 2.3.3 you should just put them back as getString rather than trying to work out the data type, es

[2012-07-05 19:29] juniovitorino commented on #25
@chbrody have some step-by-step how setup SQLitePlugin on Android as the iOS?

[2012-07-05 20:57] brody2consult opened #31 "sqlite replacement: general"
This issue is raised to discuss the ability to replace the built-in version of the sqlite C library with a new version. This should be pretty easy for iOS, see #24. For the Android, this could be a bit of a challenge and will require some clever use of the Android NDK, see #23. The ability to replace the sqlite C library can provide some nice benefits in the future, one benefit would be the abilit

[2012-07-05 21:01] brody2consult opened #32 "SQLCipher interface"
There was some demand in the past for a version to work with encryption and I suspect this may happen in the future. I had found sqlcipher.net and they provide versions for both iOS: http://sqlcipher.net/ios-tutorial/ and Android: http://sqlcipher.net/sqlcipher-for-android/

This ~~will require~~ is related to #31: sqlite replacement.

[2012-07-05 21:49] brody2consult opened #33 "Future of this project"
This project was started as a fork from [davibe / Phonegap-SQLitePlugin](https://github.com/davibe/Phonegap-SQLitePlugin) and has been enhanced by features such as an API that follows the HTML5 SQL API very closely and an Android port. Unfortunately @chbrody will have very little time due to upcoming professional commitments so this particular fork project will be in support mode for bug fixing on

[2012-07-11 20:50] scottbuckel opened #34 "Documentation Issue"
Hello, I feel the the documentation is extremely limited.  I'm not sure how to use my own .sqlite database from within the plugin.  If anyone has any hints that would be great.  The reason I have to use this plugin is because I have a database of about 50k records and native HTML5/JS was too slow.

[2012-07-18 00:59] DataZombies opened #35 "SQLitePlugin doesn't return the opened database's version string"
This console.log output is from opening an existing database

[code]

[2012-07-23 20:54] brody2consult commented on #25
Installation instructions and test program added. @davidec can you please report whether or not it works so I can close this one?

[2012-07-23 21:04] brody2consult commented on #35
Which platform? Can you post sample code and/or reproduction scenario?

[2012-07-23 21:13] brody2consult commented on #29
Sorry for the delay. Considering that JSON and Javascript is not strongly-typed as pointed out by @philiprjarnold, I would say remove everything marked "for old Android SDK" [< SDK 11] if you have any problems. Please report if there is anything else still wrong specifically for version 2.3.3.

[2012-07-23 21:14] brody2consult commented on #30
Which platform did you find this on and can you post the CoffeeScript code?

[2012-07-24 00:00] DataZombies commented on #35
iOS 5.1 as a web app within Safari and as a PhoneGap/Cordova app.

I use a JavaScript database object (DataZombies / DBi - https://github.com/DataZombies/DBi). This is the part that opens the db.

[code]

This the JSON file that's loaded.

[code]

[2012-07-24 09:50] davidec commented on #25
HI,
I try 3 month ago, I don't remember single step, I remember that It 's no work
If you confirm that It work with android In these days I can re-test

[2012-07-24 15:31] brody2consult commented on #25
On Tue, Jul 24, 2012 at 11:50 AM, davidec
reply@reply.github.com
wrote:

[2012-07-24 17:11] brody2consult commented on #35
Yes the db object should have the version member according to the W3 SQL API, and there should be a mechanism to store and check the version identifier as well as to change the database version number. I think there should be a special table with a special name to store the version identifier. I will mark this as an enhancement since I do not guarantee when or if I will have time to work on this o

[2012-07-28 21:06] viviosoft opened #36 "database not getting saved in the correct location"
The database file is not being saved to the correct location and the filename is not what I would expect.  This is happing in the lastest version of Cordova-SQLitePlgin.  I'm using the example unit test provided in the zip/tar package.  I'm running the application on the emulator.  Everything seems to work fine. However, the database is NOT getting saved under /data/data/com.phonegap.demo/database

[2012-07-28 22:11] brody2consult commented on #36
Damian @viviosoft I just made a fix and checked that the location is correct using adb shell can you please test it and report if it works for you?

[2012-07-28 22:18] brody2consult commented on #36
A couple useful links:
- http://androidforums.com/application-development/176793-how-can-i-view-android-emulators-file-system.html
- http://stackoverflow.com/questions/1510840/where-does-android-emulator-store-sqlite-database

[2012-07-29 00:12] viviosoft commented on #36
It is now in fact saving in the proper location with the proper name.  Thank you.

Tested with Cordova 2.0.0 & 1.9.0 / Android 4.0 / SDK 11

[2012-07-29 00:12] #36 closed, assigned to nobody

[2012-07-29 06:01] brody2consult commented on #36
Thanks, happy to hear.

[2012-07-29 13:11] viviosoft opened #37 "Inserting multiple records into table"
Chris -

Is there a place to ask general questions for this plugin?  Here's what I need to know but I'm sure this isn't the place to ask it.

Is there an example that discribes how to send multiple inserts (1000's) of records using this plugin?  I want to send an array of records to insert into a table using this plugin... can this be done?  Thanks again.

[2012-07-29 17:21] viviosoft commented on #37
I've create a solution. However, it takes about 2 mins to insert 2000+ records.   Here's what I've come up with... I was hoping there was maybe a better way?

[code]

[2012-07-29 18:48] brody2consult commented on #37
The solution is OK but not very efficient since the transaction between Javascript and the Android Java. One improvement is to execute multiple SQL statements in a single transaction, for example:

[code]

It should run faster but be careful: too many SQL statements in the same DB transaction will likely block your app.

The next improvement is to do some chunking, so that each DB transaction will

[2012-07-30 15:45] viviosoft commented on #37
Chris -

Your modified approach did improve performance.  Testing on Emulator Android 4.0 / SDK 11: Using a stop watch, I timed both methods.  The first method took approximately 1 min 40 sec. to insert 2087 records.  Your modified method took only 40 sec. to insert 2087.

Testing on physical device - Android Razr v4.0.3 using 4G - Testing first method took 1 min 02 sec to insert 2087 records. Sec

[2012-07-30 18:09] brody2consult commented on #37
Woah awesome, this can help me improve the documentation someday. The mailing list could be interesting, depending on which way this project goes in the future.

[2012-07-30 18:09] #37 closed, assigned to nobody

[2012-08-04 11:41] viviosoft opened #38 "Getting last inserted ID from database"
Hello -

Need to get the last insert ID from the database.  This is how I'm approaching it. Seems to be the common approach from other sources on the web for WebKit.  However, it may not work in our case due to how we are inserting items in a native database.  Although, it may work and I'm not doing something right.  Thanks for any help you can provide.

[code]

[2012-08-04 11:59] brody2consult commented on #38
~~I have already put~~ this problem _was already reported_ in bug #18. I will work on this one today.

[2012-08-04 12:47] #38 closed, assigned to nobody

[2012-08-04 12:47] brody2consult commented on #38
@viviosoft I have already updated the test program under the Android subsection of Installing in README.md that reproduces this problem. I would like to close this issue as a duplicate of #18 and move all remaining discussion to #18.

[2012-08-04 13:11] brody2consult commented on #18
@marcos can you verify if this is fixed for you?

[2012-08-04 13:11] brody2consult commented on #38
@viviosoft can you verify if this is fixed for you?

[2012-08-05 12:22] viviosoft commented on #18
Thanks for the quick turnaround Chris.  I tried the new release and for some reason the inserts aren't working for the large datasets we worked on the other day (issue #37)?  It's inserting blank records.  I do however get the correct number of rows (2087) but all records were NULL.  The database, tables and rows are all getting created in their proper locations as expected.

To verified this wasn

[2012-08-05 13:36] brody2consult commented on #18
Hi @viviosoft I did very quick testing but maybe not enough. I had actually seen a very similar problem yesterday when I tried to run it with SQLCipher for Android so I will test it again and keep you posted with the results.

I will let you know if I need your code and datasets, I do not need this yet. Anyway my private e-mail is chris dot brody at gmail dot com

Also if we really get this workin

[2012-08-05 16:40] brody2consult commented on #18
Hi @viviosoft I just reproduced a problem with getting NULL data, my fault. I will work on this and keep you posted, my bad.

[2012-08-05 16:58] viviosoft commented on #18
No problem - Thank you.

[2012-08-05 18:10] brody2consult commented on #18
@viviosoft the problem should now be fixed can you verify this again?

[2012-08-05 20:26] brody2consult commented on #32
As stated in the new Announcements section of README.md, a quick test of the SQLCipher interface with Android seems to be working now: mobileapphelp.blogspot.com/2012/08/trying-sqlcipher-with-cordova.html

[2012-08-05 21:06] viviosoft commented on #18
It is working as expected.  Database is getting populated and id of last inserted record ID is getting returned.  Thanks a bunch!

[2012-08-05 21:21] brody2consult commented on #18
Glad to hear!

[2012-08-05 21:21] #18 closed, assigned to brody2consult

[2012-08-05 21:40] brody2consult commented on #11
Looks like there is demand again from the mailing list: https://groups.google.com/forum/?fromgroups#!topic/phonegap/nTuTomykMUM

@marcucio did you have any chance to look at this?

[2012-08-06 00:39] marcucio commented on #11
Not yet but I will before the new Win 8 devices come out

On Aug 5, 2012, at 5:40 PM, Chris Brody reply@reply.github.com wrote:

[2012-08-06 08:07] brody2consult commented on #11
Thanks @marcucio. Another question: can I use any of your apps as an example and if so can you send me the link?

[2012-08-06 14:13] marcucio commented on #11
My app 'Get It Done' uses the iOS and Android plugins. (http://getitdoneapp.com)

I have had a few reports of the Android plugin not working correctly on 3.1 or 3.2 tablets (Samsung Galaxy Tab 7.0 and maybe 10.1) and I am try trying to track down this issue.

Mike

On Aug 6, 2012, at 4:07 AM, Chris Brody reply@reply.github.com wrote:

[2012-08-06 17:49] brody2consult commented on #11
Thanks Mike, I already posted it in the readme.

Someone reported issue #29 with Android 2.3.3 and I don't know if they may be the same or not.

[2012-08-07 18:07] #35 closed, assigned to nobody

[2012-08-07 18:08] #6 closed, assigned to nobody

[2012-08-08 13:20] juniovitorino commented on #30
@chbrody Thank you but i found the problem, it was a scope error that was solved by passing a callback.

[2012-08-08 13:20] #30 closed, assigned to nobody

[2012-08-08 14:47] brody2consult commented on #30
No problem, thanks for letting me know.

[2012-08-08 19:26] brody2consult commented on #10
Link http://gauravstomar.blogspot.com/2011/08/prepopulate-sqlite-in-phonegap.html needs adaptation for SQLitePlugin, also SQLCipher version in the future.

[2012-08-08 19:28] brody2consult commented on #34
This is a duplicate of #10 and will now be closed. Very important information at: http://gauravstomar.blogspot.com/2011/08/prepopulate-sqlite-in-phonegap.html needs to be adapted for both iOS and Android versions of this plugin.

[2012-08-08 19:28] #34 closed, assigned to nobody

[2012-08-08 19:30] scottbuckel commented on #34
That information is very out of date.  I blogged about it here and will post a follow up sometime soon:
http://www.raymondcamden.com/index.cfm/2012/7/27/Guest-Blog-Post-Shipping-a-populated-SQLite-DB-with-PhoneGap

[2012-08-08 19:45] brody2consult commented on #10
From #34, which has been closed as a duplicate of #10: thanks to @sebumd
for blogging how to do this for the Android version. I am trying to post
this to both #10 and #34 at the same time by e-mail. @sebumd this is so
important that I will put the link into the README for the Android version.

On Wed, Aug 8, 2012 at 9:30 PM, sebumd notifications@github.com wrote:

[2012-08-08 19:46] brody2consult commented on #34
Thanks @sebumd I quoted this into #10 and plan to put the link into the README for Android very soon.

[2012-08-08 19:47] scottbuckel commented on #10
Great! I will be blogging about a cross platform solution as I'm working on porting my app to iOS from Android.  Stay Tuned.

[2012-08-08 20:18] brody2consult commented on #11
Hi Mike @marcucio I would like to ask if it is OK to use your enhancements for batching, etc. for the Android version under the Apache license as well? I am thinking about a special project to build specifically with SQLCipher for Android and they are using the Apache license from Android for the Java classes.

Thanks,
Chris

[2012-08-08 20:21] marcucio commented on #11
sure, doesn't matter to me

On Aug 8, 2012, at 4:18 PM, Chris Brody notifications@github.com wrote:

[2012-08-08 20:30] scottbuckel commented on #10
Here is a full tutorial about how I was able to use a pre-populated DB with SQLite, This plugin, and PhoneGap.  Enjoy!  I hope this helps someone.

http://www.corporatezen.com/shipping_prepopulated_database_with_phonegap

[2012-08-08 20:34] brody2consult commented on #10
@sebumd I did not see a link in your message. Did you want to add another link?

[2012-08-15 08:09] LouAlicegary opened #39 "JSONString Namespace Problem with "incubator" Cordova repo"
I use the Cordoba incubator repo at git.apache.org/incubator-cordova-ios.git, as I'm sure many others do, and I had a couple of problems to fix before I could get the plugin to work.
#1) The big one: When building, I'd always get a warning at line 228 of the SQLitePlugin.m file. After a couple hours of searching around, I stumbled on the solution of changing "JSONString" to "cdvjk_JSONString" on t

[2012-08-15 11:08] brody2consult commented on #39
Thank you @LouAlicegary, I have documented these problems in the README. After 2.1.0 is released then I will checkin the patch to SQLitePlugin.m. This is due to [Apache Cordova CB-1000](https://issues.apache.org/jira/browse/CB-1000).

[2012-08-23 14:34] nadl84 opened #40 "instance method '-cdvjk_JSONString' not found"
Hi,

I'm getting this warning when compiling:

SQLitePlugin.m:231:43: warning: instance method '-cdvjk_JSONString' not found (return type defaults to 'id')
        [self respond:callback withString:[resultSet cdvjk_JSONString] withType:@"success"];

Any ideas ?

[2012-08-23 14:39] brody2consult commented on #40
Which version of Cordova are you using? The patch to use cdvjk_JSONString
only applies to the version from GIT until Cordova 2.1 is released.

On Thu, Aug 23, 2012 at 4:34 PM, elasrinadir notifications@github.comwrote:

[2012-08-23 14:52] nadl84 commented on #40
I'm using Cordova 2.0. Do I have to keep JSONString instead of cdvjk_JSONString ?

[2012-08-23 14:58] nadl84 commented on #40
No more warnings. Thanks a LOT! :-)

[2012-08-24 05:58] churcho opened #41 "Type FIELD_TYPE_BLOB cannot be resolved or is not a field SQLitePlugin.java"
I am getting this error "Description    Resource    Path    Location    Type
FIELD_TYPE_BLOB cannot be resolved or is not a field    SQLitePlugin.java   /PhoneGap-helloworld/src/com/phonegap/plugin/sqlitePlugin   line 250    Java Problem
"

I have tried to set up the plugin as directed in your ReadMe. What is it that I am doing wrong? I am on Windows 7, running eclipse for Android Development.

Th

[2012-08-24 06:53] churcho commented on #41
Forgot to read the lines

<code>
// for old Android SDK remove lines from HERE:
                        if(android.os.Build.VERSION.SDK_INT >= 11)
</code>

Deleted the designated lines and now its compiling.

[2012-08-24 06:53] #41 closed, assigned to nobody

[2012-08-24 07:19] brody2consult commented on #41
Good to hear. Documentation could be better, much better.

[2012-08-24 10:10] nadl84 opened #42 "Build time with SQLCipher"
Hi,

I've modified the default cordova iOS template to add SQLite and SQLCipher dependencies. I use cordova command line tools to copy the template for each one of my apps, add my web source code and build it using:

xcodebuild -project /Path/to/my/project/myproject.xcodeproj -target myproject -configuration Release -sdk iphoneos5.1 build CONFIGURATION_BUILD_DIR=/Path/to/my/project/build

The main

[2012-08-24 11:05] brody2consult commented on #42
Both rebuilding SQLCipher and rebuilding openssl contribute to the
slow build times. You should be able to include these dependencies as
library dependencies and not project dependencies. I can investigate
this sometime later.

To be honest, I do not really like having 3 library project
dependencies between SQLCipher, openssl, and Cordova and already have
some ideas for improvement. More on this l

[2012-08-24 11:27] nadl84 commented on #42
I'll be waiting for the improvements then. Thank you for the work already done :-)

[2012-08-24 11:37] churcho commented on #41
How can I pm you some requests. I need a few pointers on how to use the plugin. Thanks.

[2012-08-25 22:47] nadl84 opened #43 "Android SQLCipher: Couldn't load stlport_shared"
Hi,

I'm trying to get my android app to work with SQLCipher. I followed the steps in: http://mobileapphelp.blogspot.com/2012/08/trying-sqlcipher-with-cordova.html

This exception is thrown when i'm trying to launch the app:

E/AndroidRuntime( 2328): FATAL EXCEPTION: main
E/AndroidRuntime( 2328): java.lang.UnsatisfiedLinkError: Couldn't load stlport_shared: findLibrary returned null
E/AndroidRunti

[2012-08-25 23:12] nadl84 commented on #43
It was an emulator problem. It should be created using:

android create avd -n android7 -t 7 --abi armeabi-v7a

[2012-08-25 23:12] #43 closed, assigned to nobody

[2012-08-25 23:18] brody2consult commented on #43
Please can you report which Andriod API level number, if you see this on
the simulator, and if so then which version of the Android is in the
simulator?

I can take a further look after a day or so.

Chris

[2012-08-25 23:19] brody2consult commented on #43
Thanks, I will look after a day or so.

On Sun, Aug 26, 2012 at 1:12 AM, Nadir notifications@github.com wrote:

[2012-08-29 12:09] applecrosstwist opened #44 "Phonegap.exec and cordova.exec [cleanup for Android]"
With the latest version of cordova i was experiencing trouble with the "return PhoneGap.exec(..." Statements in the SQLitePlugin.js

What fixed it for me was replacing "return PhoneGap.exec" with "cordova.exec". Removing the "return" that is.

You might want to put this into the Instructions.

[2012-09-14 21:04] philmitchell commented on #40
In a similar vein, I'm getting: _Instance method '-JSONString' not found (return type defaults to 'id')_
I'm using Cordova 2.1 incubating src, because I need the fixes for IOS6. Should I add the cdvjk_ prefix?

[2012-09-14 21:40] brody2consult commented on #40
yes

On Fri, Sep 14, 2012 at 11:04 PM, Phil Mitchell notifications@github.comwrote:

[2012-09-14 21:49] philmitchell commented on #40
Got it ... Thanks, Chris!!

[2012-10-02 16:31] brody2consult commented on #40
Cordova official release is now 2.1, this will be standard in the source.

Chris

[2012-10-10 13:27] brody2consult commented on #39
Problem with JSONString is now fixed for good, and dealing with ARC is documented better in README

[2012-10-10 13:27] #39 closed, assigned to nobody

[2012-10-10 13:33] brody2consult commented on #40
Fixed and closed.

[2012-10-10 13:33] #40 closed, assigned to nobody

[2012-10-10 13:39] brody2consult commented on #26
This should already be fixed by the enhancements from @ef4.

[2012-10-10 13:39] #26 closed, assigned to nobody

[2012-10-10 13:40] #25 closed, assigned to nobody

[2012-10-10 13:41] brody2consult commented on #29
Closing this issue. If there are any build errors please remove everything marked "for old Android SDK" [< SDK 11].

[2012-10-10 13:41] #29 closed, assigned to nobody

[2012-10-10 13:56] brody2consult commented on #44
I assume you mean the Android version since the iOS version no longer uses PhoneGap.exec(). It was working as-is with PhoneGap.exec() on Cordova 2.0 and 2.1. I would like to clean up the code so I will leave this issue open for now.

[2012-10-16 19:10] mozey opened #46 "Unit tests: a statement with no error handler failed"
Had to replace

equal(err.message, "a statement with no error handler failed");

with

equal(err.message.match("a statement with no error handler failed").length, 1);

before the unit tests would pass on iOS 6 iPhone simulator with Cordova 2.1.0

[2012-10-18 10:27] brody2consult commented on #46
To be fixed but probably in a different way, simply to check that in
fact the err.message is populated alright.

[2012-10-19 14:31] marcucio commented on #11
I am almost done with a Win 8 javascript 'adapter' which builds the the web sql API on top of this library: https://github.com/doo/SQLite3-WinRT

All it I did was modify the Android SQLitePlugin.js to use the SQLite3-WinRT api instead of the Phonegap one. My library does not require PhoneGap (i'm not sure if Phonegap even works on Win 8 yet)

I don't think I will be testing on anything less than W

[2012-10-19 14:45] brody2consult commented on #11
@marcucio that is really awesome! Since I am not much of a Windows 7/8
guru and your work does not really use PhoneGap, I will suggest that
you make a project simply to provide the "SQLitePlugin" API over the
SQLite3-WinRT library and I will call that the "Windows version".

Please keep me posted P L E A S E

[2012-11-06 02:41] dust10 opened #48 "Example does not run on Samsung Galaxy Tab 2 with Android 3.2"
We are hitting an issue where tables are not being created in the database created with the sqlite plugin.  The code run fines on the Galaxy S III (with Android 4) but is broken on the Galaxy Tab 2 7.7 running Android 3.2.  The code we are running is copied directly from the usage sample in the readme.

11-05 22:23:22.030: I/Web Console(14989): Received Event: deviceready at file:///android_asset/

[2012-11-06 02:47] dust10 commented on #48
We are using Cordova 2.1.0.  Cordova 2.2.0 had the same result.

[2012-11-07 23:54] morganestes opened #49 "Problems retrieving data from db"
I have an app that was originally written for PhoneGap 1.0.0 that was recently upgraded to 2.2.0 so I can use this plugin with SQLCipher. I'm having problems with a `SELECT` statement never returning results, even though I know there's data in there.

Here's the rundown:
- The database is created with the following code:

[code]
- Once a user registers, the Centers and Users tables have data inser

[2012-11-10 00:02] morganestes commented on #49
I've decided the most likely culprit is having multiple calls to the db from within scattered functions. They're not being executed sequentially (since JS is async), and they're so nested that eventually it just shuts down.

The readme says to "add application logic to break large batches into smaller batch transactions", but I can't find any examples of how to do that.

This was supposed to be ju

[2012-11-14 09:14] brody2consult commented on #48
Please try this in both Android 3.2 and Android 4.0 simulators and report the results.

[2012-11-14 09:19] brody2consult commented on #49
Please can you report which platform (iOS or Android) you are using and also how recent is your download of this plugin. Some changes were made recently to provide better support for nested transactions.

[2012-11-14 10:50] brody2consult commented on #49
I took another look at the code that you pasted and this should be simple enough. Please make sure you try your code with the latest version of this plugin. If it still does not work for you, can you please make a more simple test program that can reproduce and demonstrate the problem you are having and make sure you report whether you are using iOS or Android version. You can also send the inform

[2012-11-26 14:36] joemontana opened #50 "How do I enforce foreign keys?"
I tried running a query with 'PRAGMA foreign_keys = ON' from my app to set them on. No errors there. Then I opened the database via command line and checked foreign keys status and it was off. Am I doing something wrong?

[2012-11-26 14:39] brody2consult commented on #50
First can you please report whether you are trying the iOS or Android
version. It would also help if can post a small test program if it can
help reproduce the problem. I expect to look at this issue on
Wednesday.

[2012-11-26 15:33] joemontana commented on #50
I'm testing on iOS Simulator 4.3, sorry, I should've said that :P
I was also reading on other websites that even though foreign keys arent ON by default, sqlite will enforce matters with triggers. I have triggers on my DB anyway, so I'll double check if that works without foreign keys ON.

BTW, I added some logs in the plugin.m and I noticed executions run after a BEGIN command. On sqlite.org webs

[2012-11-26 17:10] brody2consult commented on #50
Yes it could be. For the iOS version ONLY, you can also call
executeSql() method directly on the DB object. This is documented in
README.md and as you may know is NOT compatible with the HTML5 SQL API
so I had documented this as obsolete. Please report whether or not
this can solve your issue; I will continue to support this method if
it solves the problem.

Chris

[2012-11-26 22:33] brody2consult commented on #50
I had another idea to add a DB method such as executePragma() or
executePragmaStatement() to explicitly support PRAGMA statements on
the iOS version, instead of db.executeSql(). I still need to think
about it for a few days.

[2012-12-03 22:31] brody2consult commented on #44
Android version has moved to [brodyspark / PhoneGap-sqlitePlugin-Android](https://github.com/brodyspark/PhoneGap-sqlitePlugin-Android), this issue is now fixed in the new version.

[2012-12-03 22:31] #44 closed, assigned to nobody

[2012-12-03 22:32] brody2consult commented on #11
@marcucio how are you doing have you made this one yet?

[2012-12-03 22:40] marcucio commented on #11
I took the plunge and made a cordova plugin for WP8 which I found is pretty stable and fast. It can be found here:

https://github.com/marcucio/incubator-cordova-wp8/tree/master/plugins/www/plugins/SQLitePlugin

I didn't document the steps yet on what sql library you need to add to get it working but I found it works well for my app.

I found that the Win8-RT one that I did is really not fast or s

[2012-12-03 22:49] brody2consult commented on #11
Hi Mike, I am very happy to hear this. I was hoping you would put this into a separate project since I really cannot support the Win8 version. If you can set it up with a README file then I am happy to post it in my blog.

[2012-12-03 22:57] marcucio commented on #11
WP8 (windows phone 8) plugin is using cordova + we need to install 1 sql library (can be installed right from the Visual Studio app)

I hope to set up the Win8-RT the same way but right now I'm not 100% sure that the Win 8 cordova supports native calls yet.

Once I get all of this straightened out and tested we can see where the best place for the code to be

[2012-12-03 22:58] marcucio commented on #11
If it is done right I think the Windows8-RT and the Windows Phone 8 plugins can be identical... we will see...

[2012-12-03 23:00] brody2consult commented on #11
Cool, please keep me posted.

[2012-12-03 23:02] brody2consult commented on #22
Moved to [brodyspark / PhoneGap-sqlitePlugin-Android #1](https://github.com/brodyspark/PhoneGap-sqlitePlugin-Android/issues/1).

[2012-12-03 23:02] #22 closed, assigned to nobody

[2012-12-03 23:06] brody2consult commented on #23
Android stuff is now removed.

[2012-12-03 23:06] #23 closed, assigned to nobody

[2012-12-03 23:07] brody2consult commented on #48
Android version is now moved, if it is not working please raise in issue at: https://github.com/brodyspark/PhoneGap-sqlitePlugin-Android/issues

[2012-12-03 23:07] #48 closed, assigned to nobody

[2012-12-03 23:10] brody2consult commented on #49
I did not hear anything for a few weeks and hereby close this issue. If you still see an issue:
- please make a very simple test program that can reproduce and demonstrate the problem.
- if it is for Android, please raise the issue here: https://github.com/brodyspark/PhoneGap-sqlitePlugin-Android/issues

[2012-12-03 23:10] #49 closed, assigned to nobody

[2012-12-03 23:11] brody2consult commented on #33
Android version is now split off and this fork will keep going forward for the iOS version.

[2012-12-03 23:11] #33 closed, assigned to nobody

[2012-12-04 23:26] brody2consult commented on #50
New executePragmaStatement() function has been added. This pragma is not always persistent in the database.

[2012-12-04 23:26] #50 closed, assigned to nobody

[2012-12-27 10:17] gaspard22 opened #51 "ReferenceError: Can't find variable : dbname"
Got this error using the examples from your zip,
![Capture d e cran 2012-12-27 a 11 04 19](https://f.cloud.github.com/assets/3062285/32348/14d7d902-500e-11e2-84a6-23123b72b8d9.png)

using Xcode 4.5.2
cordova 2.2.0
the zip downloaded was the 21 december

[2012-12-27 10:41] brody2consult commented on #51
I will look at the issue tonight.

Chris

[2012-12-27 16:55] brody2consult commented on #51
A fix has been made, please report whether or not it works for you.

[2012-12-28 08:28] gaspard22 commented on #51
thanks everyting works fine, in your example, but now i tried with an example of mine , with sencha + phonegap and a
" DB opened: undefined  " message is log.

i have deleted "this" and your plugin works.

[2012-12-28 18:41] renatovieira91 opened #52 "Plugin does not work on Samsung Galaxy Tab 2 with Android 3.2"
We are hitting an issue where tables are not being created in the database created with the sqlite plugin. The code run fines on devices with Android 4 but is broken on the Galaxy Tab 2 7.7 running Android 3.2. The code we are running is copied directly from the usage sample in the readme.

11-05 22:23:22.030: I/Web Console(14989): Received Event: deviceready at file:///android_asset/www/js/index.

[2012-12-28 23:25] brody2consult commented on #52
First, can you make sure you are testing with the latest version of the sqlite plugin from https://github.com/brodyspark/PhoneGap-SQLitePlugin-Android, on an Android 3.2 simulator as well as the Samsung device.

Also, make sure you are using at least Cordova 2.0, latest version (2.2) is preferred.

If you still see the problem, please confirm that you are using the latest version of the plugin, wh

[2013-01-10 11:58] rahulteotia opened #53 "Building on ios for armv7s architecture"
We tried to build the plugin along with SQLCipher for armv7s architecture but facing this problem

ld: warning: ignoring file /Users/User/Library/Developer/Xcode/DerivedData/MobileTest-dacraqaybebsbwacvbwytgqneaoa/Build/Products/Debug-iphoneos/libCordova.a, file was built for archive which is not the architecture being linked (armv7s): /Users/User/Library/Developer/Xcode/DerivedData/MobileTest-dac

[2013-01-10 13:33] brody2consult commented on #53
From the warning/error messages, it seems pretty clear that your Cordova
build does not support the armv7s architecture. Please make sure you try
this with the latest release of Cordova (2.3) and try this with a simpler
plugin such as the DatePicker. You may have to rebuild the Cordova library
itself to support armv7s. Please raise this as an issue on the Cordova
project if its build does not work

[2013-01-10 15:02] rahulteotia commented on #53
Thanks chris

Our project is using Cordova 2.2, and the build setting is now set to support all architecture armv7 and 7s both. The build settings are same for all the three project (main, openssl 7 sqlcipher) now and its building fine

[2013-01-10 15:02] #53 closed, assigned to nobody

[2013-01-18 14:10] mozey opened #54 "Opening / closing the database connection, possible bug when user restarts application."
I have a bug that only occurs when I restart my application by clicking the home button, double clicking and then selecting the minus next to the app icon.

Sometimes my success or error callbacks passed to db.transaction is never called. This only happens intermittently after restart and I don't get any Javascript error therefore I suspect a race condition.

I have looked at the code for dealloc

[2013-01-18 14:30] brody2consult commented on #54
I will take a look this weekend,

Chris

On Fri, Jan 18, 2013 at 3:10 PM, mozey notifications@github.com wrote:

[2013-01-18 14:43] mozey commented on #54
Should also mention that I have not been able to recreate the issue by loading the test page into an app and restarting it multiple times.

[2013-01-31 18:49] nikhilr57 opened #55 "Update query not working on iOS with phonegap 2.3"
Hi,
It was working on phonegap 2.2.
But it is not working as it is on 2.3.
After seeing console, it shows that "DB opened: undefined"

Please suggest/update.

regards,

[2013-02-02 11:43] camdagr8 opened #56 "DB opened: undefined"
When opening a db the javascript logs an undefined value for db.

This can be fixed at line 63 of the SQLitePlugin.js file by using  console.log("DB opened: " + dbargs.name); instead of console.log("DB opened: " + this.dbname);
'this' is out of scope when used inside the function ().

[2013-02-06 00:21] drzaiusx11 commented on #21
jayData http://jaydata.org/ which supports WebSQL/SQLite as a backend should work with a few changes....I had it working with some past versions, but now it seems to crash... I'll dig a bit deeper

[2013-02-13 15:42] brody2consult commented on #55
I am recovering from some sickness and can take a look in 1-2 weeks.

Chris

On Thu, Jan 31, 2013 at 7:49 PM, nikhilr57 notifications@github.com wrote:

[2013-02-18 08:32] nikhilr57 commented on #55
@Chris, The issue is solved.. It turned out to be some issue with database copy code in android. Works fine now. Sorry for time.
Take care :)

[2013-02-20 13:57] paulfrench commented on #11
Hello, I am very keen to use websql api on WP8 via phonegap. What's the latest on the excellent work you are doing?

[2013-02-22 22:31] ghost opened #58 "Removal of JSONKit from Cordova 2.4.0"
As mentioned below, JSONKit has been removed from Cordova. It was replaced with NSJSONSerialiation.

CODE:
[self respond:callback withString:[resultSet NSJSONSerialization] withType:@"success"];

ERROR:
[__NSDictionaryM cdvjk_JSONString]: unrecognized selector sent to instance 0x9b74bc0

http://shazronatadobe.wordpress.com/2013/02/08/whats-new-in-cordova-ios-2-4-0/

[2013-02-27 17:20] jthurston commented on #58
Does replacing CORDOVA/JSONKit.h with CORDOVA/CDVJSON.h in SQLitePlugin.h fix the issue?

[2013-03-05 22:31] ujwalanandyala commented on #58
I have similar issue with SQLite plugin on ios 6.1 using cordova 2.5.0. Replacing CORDOVA/JSONKit.h with CORDOVA/CDVJSON.h didn't help.

Please let me know if anyone has a solution

[2013-03-12 17:43] kriscarle commented on #58
It is working for me on iOS 6.1 + Cordova 2.5.0  There is one other change you need to make in SQLitePlugin.m  It is in my pull request https://github.com/brodyspark/PhoneGap-SQLitePlugin-iOS/pull/60/files

[2013-03-12 18:01] ujwalanandyala commented on #58
that worked. Thank You!

[2013-03-14 13:12] msahana opened #61 "ERROR: Method 'open:' not defined in Plugin 'SQLitePlugin'"
I am trying to create a small app to test the native sqlite plugin with iOS (cordova-2.5.0). I have followed all the steps to integrate it.

I dont have any errors in my project and also I have replaced JSONKit with CDVJson as suggested.

I see the following exceptions:
ERROR: Method 'open:' not defined in Plugin 'SQLitePlugin'
TestSqlitePlugin[930:707] -[CDVCommandQueue executePending] [Line 103]

[2013-03-14 17:59] msahana commented on #61
Got it worked, i had to missed to add the plugin name and value in the config XML.

[2013-03-14 17:59] #61 closed, assigned to nobody

[2013-03-20 23:31] stela5 opened #62 "Export / Dump capability?"
Is there a way to create an export / dump of the sqlite database?  Or is the path specified somewhere so we can use the HTML 5 File API capability to copy it?

[2013-05-02 13:46] elcreativo opened #63 "Error with Cordova 2.7"
Hello Phonegap Experts,

We have updated our iOS app to Cordova 2.7. Now we get an error message when using the "PhoneGap iOS SQLitePlugin (brodyspark / latest version)".

The old format of this exec call has been removed (deprecated since 2.1). Change to:

cordova.exec (null, null, "SQLitePlugin," open ", [{" name ":" dbname "," callback ":" cb1 "}]);
We have tried to fix the error. But had no su

[2013-05-02 16:45] brody2consult commented on #63
The plugin needs to be updated for 2.5+. I have not had much time to work
on this and do not guarantee when.

Chris Brody

On Thu, May 2, 2013 at 3:46 PM, elcreativo notifications@github.com wrote:

[2013-05-03 12:20] j3k0 commented on #63
I updated the plugin for 2.5+ on my fork:
https://github.com/j3k0/PhoneGap-SQLitePlugin-iOS

Needs to be tested more, but probably worth pulling once validated.

[2013-05-05 07:18] brody2consult commented on #63
Please submit a pull request once you are reasonably confident in the
changes. Thanks Chris

On Friday, May 3, 2013, Jean-Christophe Hoelt wrote:

##

Sent from my mobile

[2013-05-15 07:14] cmamishra commented on #58
thanks it worked!

[2013-08-02 02:50] hainc08 commented on #40
change
[NSString *jsStatement = [NSString stringWithFormat:@"window.plugins.pushNotification.notificationCallback(%@);", [userInfo cdvjk_JSONString]];]
-->
NSString *jsStatement = [NSString stringWithFormat:@"window.plugins.pushNotification.notificationCallback(%@);", [userInfo JSONString]];

[2013-08-19 13:32] #55 closed, assigned to nobody

[2014-01-05 13:18] vedatsivri commented on #53
Hello Rahul

I'm using cordova 2.5 with Xcode 5 but still getting link error. is there any special configuration needed on Xcode or cordova ?

Thanks
Vedat Sivri

[2014-01-06 08:30] rahulteotia commented on #53
Hi Vedat, While building which of the project is giving you this error? Cordova or your main project?

[2014-01-06 09:24] vedatsivri commented on #53
Hi Rahul,

I was getting error on main project. I think it was link error that depends on architecture.
So when i changed arm configuration from armv7s to standart form build settings then fixed. Now it is working fine.

Thank you so much for response.

Vedat Sivri

[2015-02-25 02:04] #28 closed, assigned to nobody

[2016-02-04 17:56] brody2consult commented on #56
This version is no longer supported.

[2016-02-04 17:56] #56 closed, assigned to nobody

[2016-02-04 17:56] #63 closed, assigned to nobody

[2016-02-04 18:00] #58 closed, assigned to nobody

[2016-02-04 18:00] #52 closed, assigned to nobody

[2016-02-04 18:00] #51 closed, assigned to nobody

[2016-02-04 18:01] brody2consult commented on #42
SQLCipher is now supported in https://github.com/litehelpers/Cordova-sqlcipher-adapter

[2016-02-04 18:01] #42 closed, assigned to nobody

[2016-02-04 18:02] #46 closed, assigned to nobody

[2016-02-04 18:03] #9 closed, assigned to nobody

[2016-02-04 18:04] brody2consult commented on #31
This is done by cordova-sqlite-ext, Cordova-sqlite-legacy, and Cordova-sqlcipher-adapter.

[2016-02-04 18:04] #31 closed, assigned to nobody

[2016-02-04 18:04] brody2consult commented on #32
Supported in Cordova-sqlcipher-adapter

[2016-02-04 18:04] #32 closed, assigned to nobody

[2016-12-12 02:34] PterPmnta commented on #50
[code]